/* src/components/Dashboard.css */

.dashboard {
    text-align: center;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative; /* Needed for SVG positioning */
    overflow: hidden; /* To ensure SVG stays within bounds */
}

.dots-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    opacity: 0.2;
    z-index: 0;
}

.dashboard-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideIn 1s ease-in-out;
    z-index: 1; /* Ensure header is above the background */
}

.dashboard-header .header-text {
    font-size: 4rem;
    font-weight: bold;
    margin: 20px 0;
    color: #E8EFF6;
    animation: fadeIn 1s ease-in-out;
}

.search-bar {
    margin-top: 20px;
    background-color: #1e1e1e;
    border-radius: 25px;
    width: 75%;
    animation: growIn 1s ease-in-out;
    z-index: 1000;
}

.search-bar input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 150px;
    background-color: #1e1e1e;
    color: #B0C4DE; /* Light Slate Blue */
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #636363;
    border-radius: 4px;
}

.search-results {
    position: absolute;
    top: 40px;
    width: 100%;
    border: 1px solid #636363;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    margin-bottom: 10px;
}

.search-results li {
    padding: 10px;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.5s ease-in-out;
}

.search-results li:hover {
    background-color: #2C3E50;
}

.albums {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    animation: fadeIn 1s ease-in-out;
    z-index: 0; /* Ensure albums are above the background */
}

.top-albums {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    margin-top: 40px;
}

.album {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: growIn 1s ease-in-out;
    transition: transform 0.3s ease-in-out;
    z-index: 1; /* Ensure albums are above the background */
}

.album:hover {
    transform: scale(1.05);
}

.album h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #E8EFF6; /* Lightest Blue */
}

.album p {
    font-size: 1rem;
    font-weight: bold;
    color: #B0C4DE; /* Light Slate Blue */
}
